
.aboutbox 
{
    width : 100%;
    height : 450px;
    background-color : #1e2224ef;
   
}
.aboutbanner
{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2;
    width:100%;
    height:100%;
    flex-direction: column;
}
.breadcrum 
{
    width :100%;
    height :auto;
    color:"#FFA500"
}
.aboutdetail 
{
    width : 100%;
    height : auto;
    background-color : #1e2224de;
    padding-top:30px;
    padding-bottom :30px;
}
.project 
{
    background-color : #1e2224de;
    padding-top:20px;
    padding-bottom: 20px;
}
.projectbox 
{
    width: 90%;
    height: 200px;
    background-color : #1e2224ef;
    margin-top:10px;
}
